<!DOCTYPE html>
<html>
<head>
  
</head> 
<body>
    
  <div class="header">
    <div class="nav_bar">
      
      <nav>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </nav>  
    </div> <!-- end of nav bar div -->
    
    <h2>
      <a href="#">
        <img>
      </a>
    </h2>
    
  </div> <!-- end of header div -->
  
  
  <div class="entry_box">      
  </div>
  
  <div class="translation_box">
  </div>
  
  <div class="new_word_request">
  </div>
    
  <div class="footer">
  </div>
  
</body>
</html>